{% extends 'base.html.twig' %}

{% block body %}

    <div id="backGHome"></div>
    <main id="home">
        <h1>The Alex's Gallery</h1>
        <section>
    
            <img src="https://manta.neo-ac.fr/img/tag/gallery/homegallery/home1.jpg" alt="Photo accueil">
            <img src="https://manta.neo-ac.fr/img/tag/gallery/homegallery/home2.jpg" alt="Photo accueil">
            <img src="https://manta.neo-ac.fr/img/tag/gallery/homegallery/home3.jpg" alt="Photo accueil">
            <img src="https://manta.neo-ac.fr/img/tag/gallery/homegallery/home4.jpg" alt="Photo accueil">
            <img src="https://manta.neo-ac.fr/img/tag/gallery/homegallery/home5.jpg" alt="Photo accueil">
            <img src="https://manta.neo-ac.fr/img/tag/gallery/homegallery/home6.jpg" alt="Photo accueil">
       
        </section>
    </main>
{% endblock %}
