{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Animal</h1>
        <section>
                <article>
                    <img src="{{ asset('css/images/Animal/Animal1.jpg') }}" alt="Photo accueil">

                    <img src="{{ asset('css/images/Animal/Animal2.jpg') }}" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
