{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Animal</h1>
        <section>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Animal/Animal1.jpg" alt="Photo accueil">

                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Animal/Animal2.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
