{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG1"></div>
    <main id="home">
        <h1>Gallery Beach</h1>
        <section>
                <article>                 
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Beach/Beach1.jpg" alt="Photo accueil">
                </article>
                <article>                 
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Beach/Beach2.jpg" alt="Photo accueil">
                </article>
                <article>                 
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Beach/Beach3.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
