{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Boat</h1>
        <section>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Boat/Boat1.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Boat/Boat2.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Boat/Boat3.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Boat/Boat4.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Boat/Boat5.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
