{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG1"></div>
    <main id="home">
        <h1>Gallery Flowers</h1>
        <section>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower1.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower2.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower3.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower4.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower5.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower6.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower7.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower8.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower9.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower10.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower11.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower12.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower13.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Flower/Flower14.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
