{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Food</h1>
        <section>
                
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Food/Food1.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Food/Food2.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Food/Food3.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Food/Food4.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Food/Food5.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
