{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG1"></div>
    <main id="home">
        <h1>Gallery Ocean Wildlife</h1>
        <section>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW1.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW2.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW3.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW4.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW5.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW6.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW7.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW8.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/OceanWildlife/OW9.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
