{% extends 'base.html.twig' %}

{% block body %}

    <div id="backG2"></div>
    <main id="home">
        <h1>Gallery Place</h1>
        <section>
                
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place1.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place2.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place3.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place4.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place5.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place6.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place7.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place8.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place9.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place10.jpg" alt="Photo accueil">
                </article>
                <article>
                    <img src="https://manta.neo-ac.fr/img/tag/gallery/Place/Place11.jpg" alt="Photo accueil">
                </article>
        </section>
    </main>
{% endblock %}
