{% extends 'base.html.twig' %}

{% block body %}

    <div id="backGContact"></div>
    <main id="contact">
        <div id="logoContact"></div>
        <article>
            <h1>Contact</h1>
            <ul>
                <li><a href="mailto:alexandre.chatelain@neo-ac.fr">alexandre.chatelain@neo-ac.fr</a></li>
                <li><a href="tel:+33640090673">+33 6 40 09 06 73</a></li>
            </ul>
        </article>
    </main>
{% endblock %}
